#background{
    width: 100%;
    height: 100vh;
    background: url("img/city_night_light.png") no-repeat center center;
    background-color: black;
}


.startGame {
    position: absolute;
    margin: auto;
    width: 100px;
    height: 40px;
    border: 1px solid #000000;
    background-color: #F5D96C;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 20px;
    top: 50%;
    left: 5%;
}

.scoreBoard {
    position: absolute;
    margin: auto;
    width: 100px;
    height: 70px;
    border: 1px solid #000000;
    background-color: #F5D96C;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    font-size: 25px;
    top: 58%;
    left: 5%;
    padding-top: 20px;
}



